/* -------------------------------------------------- Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


/* Thème light par défaut */
:root.white-theme {
    --text-color: #2D2F39;
}

/* Dark Theme */
:root {
    --text-color: #FBEFF1;
}


/* -------------------------------------------------- Style généraux */
h1, h2 {
    font-family: 'Comfortaa', cursive;
    color: var(--text-color);

    /* Centrer tout les titres, même si ils sont déjà centré, quand le texte reviens à la ligne
    il est pas centré dans son conteneur */
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p, li {
    font-family: 'Comfortaa', cursive;
    color: var(--text-color);
    font-size: 1em;
}

/* Classes facilement réutilisable dans le HTML */
.text-big {
    font-size: 1.8em;
}

.text-semi-big {
    font-size: 1.4em;
}

.text-small {
    font-size: 1.15em;
}

.center {
    text-align: center;
}

.text-margin {
    margin: 0.5em;
}

.important-title {
    text-shadow: 0 0 3px var(--text-color);
}




/* Adaptation téléphones */
@media (max-width: 640px) {
    /* Changer les tailles, inadaptée pour si peu d'espace */
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.3em;
    }
    .text-big {
        font-size: 1.3em;
    }
    
    .text-semi-big {
        font-size: 1.1em;
    }
    
    .text-small {
        font-size: 1em;
    }

    /* Appliquer du margin à tout les p car le rendu est pas pareil,
     avant flexbox gerait bien l'espace en trop, maintenant il n'y a plus d'espace bonus */
    p {
        margin: 0.5em;
    }
}