/* -------------------------------------------------- Reset CSS */
* {
    margin: 0;
    padding: 0;
}




/* -------------------------------------------------- Couleurs */
/* Dark Theme par défaut */
:root {
    /* Couleurs */
    --primary-color: #2d3039;
    --secondary-color: #3f4350;
    --third-color : #5EB1BF;

    --text-color: #FBEFF1;

    /* Chemins d'images */
    --image-phone: url("./img/black-theme/phone.png");
    --image-identity-card: url("./img/black-theme/identity-card.png");
    --image-fond-style: url("./img/black-theme/fond-style.png");
    --image-moon: url("./img/black-theme/moon.png");

    /* Filtres */
    --filter-grayscale: grayscale(50%);
    --filter-dark-effect : brightness(.8) contrast(1.2);
}

/* Thème light */
:root.white-theme {
    /* Couleurs */
    --primary-color: #FFFFFF;
    --secondary-color:#BCE0F0;
    --third-color : #079C72;

    --text-color: #2d3039;

    /* Chemins d'images */
    --image-phone: url("./img/white-theme/phone.png");
    --image-identity-card: url("./img/white-theme/identity-card.png");
    --image-fond-style: url("./img/white-theme/fond-style.png");
    --image-sun: url("./img/white-theme/sun.png");

    /* Filtres */
    --filter-grayscale: grayscale(20%);
    --filter-dark-effect : brightness(1) contrast(1);
}

/* Gérer les transitions de thèmes */
body {
    /* Mettre un fond au body au cas ou d'un bug pour rendre le bug moins dégueux,
    mais là je parle d'un bug pas connu, j'ai essayé le site sur plein de navigateurs */
    background: var(--primary-color);

    /* Transision sur le toggle de thème */
    transition-timing-function: ease-in;
    transition-duration: 400ms;
    transition-property: background-color, background, text-color, border-color, filter;
}




/* -------------------------------------------------- Conteneur */
div.container {
    /* Dimensionner le conteneur de la page */
    height: 96vh;
    padding: 2vh 0 2vh 0;

    /* Organiser la grille */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr;
    /* Un peut d'espace, on est trop collé entre cases :) */
    gap: 1.8rem;
}





/* -------------------------------------------------- Gérer les cases EN GENERAL */
.card {
    /* Mettre le fond des sections */
    background-color: var(--secondary-color);
    padding: 0.7rem;
}

.tall {
    /* Cases de deux de hauteur par 1 de largeur */
    grid-row: span 2;
}

/* Changer les bordures en fonction de la position des éléments*/
.left-side {
    border-radius: 0 1rem 1rem 0;
}

.right-side {
    border-radius: 1rem 0 0 1rem;
}

.middle-side {
    border-radius: 1rem;
}




/* -------------------------------------------------- Gérer les cases INDIVIDUELLEMENT */

/* -------------------- En commun */
.diplomes, .mini-description, .langues, .competences {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



/* -------------------- Case "Photo" */
section.photo {
    /* Placer les éléments en partant de la droite */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    /* Définir la taille, l'image et la positionner à gauche au centre */
    background-image: var(--image-fond-style);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-y: center;
}

section.photo > article {
    /* Définir une taille fixe */
    width: 200px;
    height: 210px;
}

section.photo article > div.contain-photo {
    /* Forme de carré, je l'ai faite à la main */
    clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%);
    
    /* Définir l'image, faire quelle couvre en fonction de la taille et la placer au centre */
    background-image: url("img/photo-opti.jpg");
    background-size: cover;
    background-position-y: center;
    filter: var(--filter-dark-effect);
    /* Pour centrer l'image, sinon ça me stresse */
    background-position-x: -15px;
    background-size: 108%;

    width: 200px;
    height: 210px;

    border: var(--third-color) 2px solid;

    /* Animer le changement de clip path */
    transition: clip-path 1s;
}

section.photo article > div.contain-photo:hover {
    /* Forme de losange  */
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

@keyframes show-text {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

section.photo article > div.hidden-text-photo {
    position: relative;
    right: 0;

    /* Cacher le texte derrière l'image */
    transform: translateY(-100%);
    opacity: 0;

    /* Mettre un peu d'espace pour positionner le texte pas trop aux bord de l'image
    (purement visuel) */
    padding: 5px;

    display: flex;
    justify-content: space-between;

    /* Petit détail : ne pas afficher le curseur "text" quand on passe la souris sur l'image */
    cursor: default;
}

section.photo article div.contain-photo:hover + div.hidden-text-photo {
    /* Faire apparaitre le texte et conserver l'état de l'animation */
    animation: show-text 1s forwards;
}



/* -------------------- Case Infos Principales */
section.infos-principales {
    /* Mettre les éléments en colonnes, 
    faire de l'espace entre ces éléments avec space-between */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.infos-principales > div {
    /* Mettre les éléments en ligne,
    faire de l'espace entre ces éléments avec spawe-between,
    aligner les éléments sur l'axe transversal au centre */
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1em;
}

section.infos-principales div > hr {
    /* Cette ligne qui fais que les barres sont responsive, c'est "pixel" comme on dit */
    /* Elles prennent la place qu'elles peuvent */
    flex-grow: 2;

    /* Si la taille deviens trop petite, la barre ne disparait pas et ressemble à un point */
    min-width: 3px;
    height: 3px;

    border-radius: 1rem;
    /* Couleurs de bordure et fond en fonction du thème */
    border: 2px solid var(--primary-color);
    background-color: var(--third-color);

    margin-left: 1rem;
    margin-right: 1rem;
}

section.infos-principales div > div.back-phone,
section.infos-principales div > div.back-identity-card {
    /* Centrer et garder les proportions de l'image tout en remplissant le conteneur */
    background-position: center;
    background-size: cover;
    /* Définir la taille */
    width: 50px;
    height: 50px;
}

section.infos-principales div > div.back-phone {
    /* Image en fonction du thème */
    background-image: var(--image-phone);
}

section.infos-principales div > div.back-identity-card {
    /* Image en fonction du thème */
    background-image: var(--image-identity-card);
}

section.infos-principales h1 {
    /* Idem, "couleur en fonction du thème", j'arrête de commenter la même chose maintenant */
    background-color: var(--primary-color);
    padding: 0.5rem;
    padding-bottom: 0.1rem;
    
    border-radius: 0.5rem;

    /* Ombre calée derrière juste l'élément sans décalage,
     qui a un blur de 6px ce qui fait qu'on voit le blur tout autour de l'élément */
    box-shadow: 0 0 6px var(--third-color);
}




/* -------------------- Case Experiences */
section.experiences {
    /* Mettre les éléments en colonne,
    aligner les éléments sur l'axe transversal et sur l'axe principal au centre */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    /* Element central sans fond */
    background: transparent;

    /* Mettre en valeur la carte centrale avec l'ombre */
    box-shadow: 0 0 10px var(--text-color);
    border-radius: 1rem;
}

section.experiences h1 {
    flex-grow: 1;

    margin-top: 0.8rem;
}

section.experiences article {
    /* Faire prendre la place à cet élément */
    flex-grow: 2;

    /* Mettre les éléments en ligne,
    faire de l'espace entre ces éléments avec spawe-between */
    display: flex;
    justify-content: space-between;
}

section.experiences article div {
    /* Mettre les éléments en colonne,
    faire de l'espace entre ces éléments avec spawe-around*/
    display: flex;
    flex-direction: column;
}

section.experiences hr {
    /* Mettre de l'espace autour de la barre de séparation*/
    margin: 0.5em;
}




/* -------------------- Case Langues */
section.langues > article {
    /* Mettre les éléments en colonne,
    aligner les éléments sur l'axe transversal au centre */
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* -------------------- Case Competences */
section.competences ul {
    list-style-type: none;
}

section.competences h2 {
    margin-top: 0.6em;
} 

section.competences ul li {
    /* Mettre les éléments en ligne,
    faire de l'espace entre ces éléments avec spawe-between,
    aligner les éléments sur l'axe transversal au centre */
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0.6em;
}

section.competences ul li > p {
    /* Mettre les éléments en ligne,
    aligner les éléments sur l'axe transversal au centre */
    display: flex;
    align-items: center;
}

section.competences ul li p > img {
    height: 2em;

    /* Simplement créer de l'espace entre les images et le texte */
    margin-right: 1rem;

    /* Appliquer un effet de noir et blanc pour que les couleurs n'aient pas trop d'impact sur le design de la page */
    filter: var(--filter-grayscale);
}




/* -------------------- Case Diplomes */
section.diplomes > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    flex-grow: 2;
}

/* Les éléments p qui sont pas premier, car les premiers p sont des sorte de titres */
section.diplomes div > p:not(:nth-of-type(1)) {
    align-self: end;
    justify-self: end;
}




/* ---------------------------------------------------- MEDIA QUERRIES */

/* Points communs entre la responsive intermédiaire et téléphones */
@media (max-width: 1500px) {
    div.container {
        /* Re dimensionner le conteneur de la page */
        height: auto;
        padding: 3vh 1vw;

        /* Ré organiser la grille */
        display: grid;
        grid-template-rows: auto;

        /* Changer la taille du gap */
        gap: 1rem;
    }

    /* Changer les bordures en fonction de la position des éléments*/
    .left-side,
    .right-side,
    .middle-side {
        border-radius: 0.7rem;
    }
}

/* État intermédiaire */
@media (min-width: 640px) and (max-width: 1500px) {
    div.container {
        /* Ré organiser la grille en deux colonnes */
        grid-template-columns: 1fr 1fr;
    }

    /* Ré ordonner la grille */
    .photo {
        order: 1;
    }
    .mini-description {
        order: 2;
    }
    .infos-principales {
        order: 3;

        /* Changement, il prend TOUTE une ligne */
        grid-column: span 2;
    }
    .experiences {
        order: 4;

        /* Changement, il prend TOUTE une ligne */
        grid-column: span 2;
    }
    .competences {
        order: 5;
    }
    .diplomes {
        order: 6;
    }
    
    .langues {
        order: 7;

        /* Changement, il prend TOUTE une ligne */
        grid-column: span 2;
    }

    /* Ajuster la taille, purement esthetique */
    section.photo {
        background-size: 40%;
    }
}

/* Adaptation téléphones */
@media (max-width: 640px) {
    div.container {
        /* Ré organiser la grille en une colonne */
        grid-template-columns: 1fr;

        /* Sur téléphone, l'animation du bouton créé de l'overflow-y donc pour y remédier ... */
        overflow-y: hidden;
    }

    /* Changer la taille du fond */
    section.photo {
        background-size: 50%;
    }

    /* Afficher le contenu en colonne, inversée pour l'ordre dans lesquels je veux */
    section.experiences article {
        flex-direction: column-reverse;
    }

    /* Ajuster les margins */
    section.experiences h1 {
        margin-bottom: 1em;
    }

    section.experiences hr {
        margin: 0.8em;
    }
}